** USE THE CONCEPT OF LOOP TO SOLVE TEHE BELOW QUIRIES **

  1) Print the first 10 natural numbers using for loop.

In [1]:
#Write your code here
for i in range(1,11):
    print(i,end=" ")
print()

1 2 3 4 5 6 7 8 9 10

2) Python program to print all the even numbers within the given range.

Range = 0 to 100

In [5]:
#Write your code Here
for i in range(0,101,2): # inclusive intervals
    print(i,end=" ")
print("INCLUSIVE")

for i in range(0,100,2): # exclusive interval at right side that is 100
    print(i,end=" ")
print("EXCLUSIVE RIGHT END")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 INCLUSIVE
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 EXCLUSIVE RIGHT END

3) Python program to calculate the sum of all numbers from 1 to a given number.

Given Range = 15

In [9]:
#Write your Code Here
ans = 0
for i in range(1,16):
    ans += i
print("sum of 1 to 15 is :",ans)

sum of 1 to 15 is : 120

4) Python program to calculate the sum of all the odd numbers within the given range.

Given Range = 10

In [10]:
# Write your code Here
for i in range(1,10,2):
    print(i,end=" ")
print()

1 3 5 7 9

5) Python program to print a multiplication table of a given number

given number = 5

In [12]:
# Write your code here
num = 5
for i in range(1,11):
    print(num," * ",i," = ",(num*i))

5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50